Importation de biblioteques

# Contexte
Le retard des vols est un problème majeur dans l'industrie aérienne qui impacte non seulement la satisfaction des passagers, mais aussi les coûts opérationnels des compagnies aériennes et des aéroports.

![Description de l'image](../notebooks/images/avion.jfif)

# Objectif
La tâche consiste à prédire le retard des vols (en minutes ou en heures) en fonction de plusieurs caractéristiques disponibles dans un jeu de données contenant des informations sur les vols.

In [9]:
import pandas as pd
pd.options.display.max_columns = None
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(rc = {'figure.figsize':(25,10)})

In [10]:
df_airlines = pd.read_csv("../data/airlines.csv")
df_aiports = pd.read_csv("../data/airports.csv")
df_flight = pd.read_csv("../data/flights.csv")

C:\Users\debgn\AppData\Local\Temp\ipykernel_4072\3853904211.py:3: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_flight = pd.read_csv("../data/flights.csv")

# Description des caractéristiques
Le jeu de données des retards de vol provient de la Federal Aviation Administration (FAA) et contient des informations sur les vols opérés aux États-Unis. 
Voici une description des principales caractéristiques présentes dans ces jeux de données

## jeux de données flights

In [13]:
df_flight.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,21.0,15.0,205.0,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,12.0,14.0,280.0,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,18.0,-2.0,16.0,34.0,286.0,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,15.0,-5.0,15.0,30.0,285.0,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,24.0,-1.0,11.0,35.0,235.0,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN


Voici une description des caractéristiques du dataset ainsi que leur rôle dans le cadre d'une analyse pour prédire les retards des vols :

***Informations sur la date et l'heure***

*YEAR* : Année de l’enregistrement du vol (utile pour analyser les tendances annuelles).

*MONTH* : Mois de l’enregistrement du vol (utile pour détecter des tendances saisonnières).

*DAY* : Jour du mois de l’enregistrement (utile pour identifier des motifs quotidiens ou mensuels).

*DAY_OF_WEEK* : Jour de la semaine (de 1 pour lundi à 7 pour dimanche), permet d’analyser les différences selon les jours.

***Informations sur la compagnie et le vol***

*AIRLINE* : Code de la compagnie aérienne, permet d’identifier les compagnies responsables de potentiels retards.

*FLIGHT_NUMBER* : Numéro du vol, identifiant spécifique du vol.

*TAIL_NUMBER* : Numéro de queue de l’avion (identifiant unique pour suivre les performances des avions individuels).

In [11]:
df_airlines.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [12]:
df_aiports.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447